/! h2 Welcome
script src="//platform.linkedin.com/in.js" type="text/javascript"
script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/williambengtsson" data-format="inline" data-related="false"